@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --border-grey: #d9d9d9;
  --grey: #efefef;
  --card-bg: #f2f5f2;
  --lime-green: #ceff1a;
  --purple: #6637ee;
  --light-blue: #006aff;
  --border-radius-sm: 5px;
  --border-radius-lg: 30px;
}

body {
  margin: 0;
  background-color: #fff;
  font-family: "Inter";
}

input,
textarea {
  border: solid 1px var(--border-grey);
  border-radius: var(--border-radius-sm);
  font-size: 16px;
  padding: 0.25rem 0.5rem;
  font-family: "Inter";
}
